.navbar {
    padding: 0;
}
.navbar-nav a {
    color: #222;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
.navbar-nav a:hover {
    background-color: #222;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
    }
}
.user-img {
    width: 36px;
    border: 1px solid gray;
    border-radius: 50%;
}